<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stats</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      @font-face {
        font-family: "SpotifyMix";
        src: url("/fonts/SpotifyMixUI-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
      }

      .nav-link {
        color: aliceblue;
      }
      .nav-link:hover {
        color: rgb(12, 179, 40);
      }
      main {
        color: aliceblue;
        background-color: rgb(22, 22, 22);
        height: 3000px;
      }
      body {
        font-family: "SpotifyMix", sans-serif;
      }
      .card {
        background-color: rgb(34, 34, 34);
        color: aliceblue;
        transition: transform 0.45s ease;
        margin: 25px;
      }
      .dropdown-menu {
        background-color: rgb(44, 44, 44);
      }
      .dropdown-item {
        transition: 0.3s ease;
        color: aliceblue;
      }
      .dropdown-item:hover {
        background-color: rgb(12, 179, 40);
      }
      .card:hover {
        transform: scale(1.2);
      }
      .btn {
        background-color: rgb(12, 179, 40);
        border: none;
        transition: 0.4s ease;
        width: 50%;
      }
      .center {
        justify-content: end;
      }
      .btn:hover {
        background-color: rgba(12, 179, 40, 0.692);
        border: none;
      }
      a:hover {
        text-decoration: none;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>
      <!-- Nav tabs -->
      <ul
        class="nav nav-fill"
        id="navId"
        style="
          box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.349);
          background-color: rgb(34, 34, 34);
          z-index: 1000;
          position: fixed;
          width: 100%;
          justify-content: center;
          box-shadow: 0px 20px 300px rgba(0, 255, 0, 0.445);
        "
      >
        <li class="nav-item">
          <a href="#" id="profile-link" class="nav-link">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Top Artists</a
          >
          <div class="dropdown-menu" style="justify-content: center">
            <a class="dropdown-item" id="alast4" href="">Last 4 Weeks</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="alast6" href="">Last 6 Months</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="alasty" href="">Last Year</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Top Tracks</a
          >
          <div class="dropdown-menu" style="justify-content: center">
            <a class="dropdown-item" id="tlast4" href="">Last 4 Weeks</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="tlast6" href="">Last 6 Months</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="tlasty" href="">Last Year</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle actuve"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Genre Analysis</a
          >
          <div class="dropdown-menu" style="justify-content: center">
            <a class="dropdown-item" id="glast4" href="">Last 4 Weeks</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="glast6" href="">Last 6 Months</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="glasty" href="">Last Year</a>
          </div>
        </li>
        <li class="nav-item">
          <Button onclick="logout();" class="btn btn-primary">Sign Out</Button>
        </li>
      </ul>
      <!-- (Optional) - Place this js code after initializing bootstrap.min.js or bootstrap.bundle.min.js -->
      <script>
        var triggerEl = document.querySelector("#navId a");
        bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
      </script>
    </header>

    <main>
      <div
        class="flex-container"
        style="padding-top: 50px; height: 700px; text-align: center"
      >
        <div
          class="flex-container"
          style="
            background-color: rgb(40, 40, 40);
            box-shadow: 0px 20px 200px green;
          "
        >
          <h1>Top Genres</h1>
          <h2>Based on recent tracks.</h2>
        </div>
      </div>
      <div
        class="flex-container"
        style="margin-top: 50px; height: 700px; text-align: center"
      >
        Testing
      </div>
    </main>
    <style>
      [x-cloak] {
        display: none !important;
      }

      /* Mobile overscroll color */
      html,
      body {
        height: 100%;
      }

      /* iOS Safari specific styles */
      @supports (-webkit-touch-callout: none) {
        .min-h-screen {
          min-height: -webkit-fill-available;
        }

        /* iOS status bar space */
        body {
          padding-top: env(safe-area-inset-top);
          padding-bottom: env(safe-area-inset-bottom);
        }
      }

      /* Hide scrollbar but keep functionality */
      ::-webkit-scrollbar {
        display: none;
      }

      * {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      /* Prevent text selection */
      * {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
      }

      /* Allow text selection in specific elements */
      input,
      textarea {
        -webkit-user-select: text;
        user-select: text;
      }
    </style>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="/api.js" type="text/javascript"></script>
    <script>
      let id = window.localStorage.getItem("id");
    </script>
    <script>
      if (id) {
        document.getElementById("profile-link").href = `/profile/${id}`;
        document.getElementById(
          "alast4"
        ).href = `/artists/${id}?time_range=short_term`;
        document.getElementById(
          "alast6"
        ).href = `/artists/${id}?time_range=medium_term`;
        document.getElementById(
          "alasty"
        ).href = `/artists/${id}?time_range=long_term`;
        document.getElementById(
          "tlast4"
        ).href = `/tracks/${id}?time_range=short_term`;
        document.getElementById(
          "tlast6"
        ).href = `/tracks/${id}?time_range=medium_term`;
        document.getElementById(
          "tlasty"
        ).href = `/tracks/${id}?time_range=long_term`;
        document.getElementById(
          "glast4"
        ).href = `/tracks/${id}?time_range=short_term`;
        document.getElementById(
          "glast6"
        ).href = `/tracks/${id}?time_range=medium_term`;
        document.getElementById(
          "glasty"
        ).href = `/tracks/${id}?time_range=long_term`;
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
